{{ managed_motd_ascii_art }}
{% for key, value in managed_motd_info.items() %}
{%   if value is sameas true %}
 {{ key }}
{%   elif value is string or value is number %}
 {{ key }}: {{ value }}
{%   else %}
{%     for v in value %}
 {{ key }}: {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
