# {{ ansible_managed }}

{% if managed_resolvconf_search | length > 0 %}
search {{ managed_resolvconf_search }}
{% endif %}
{% if managed_resolvconf_domain != "" %}
domain {{ managed_resolvconf_domain }}
{% endif %}
{% if managed_resolvconf_nameservers | length > 0 %}
{% for ns in managed_resolvconf_nameservers %}
nameserver {{ ns }}
{% endfor %}
{% endif %}
{% if managed_resolvconf_sortlist | length > 0 %}
{% for sl in managed_resolvconf_sortlist %}
sortlist {{ sl }}
{% endfor %}
{% endif %}
{% if managed_resolvconf_options | length > 0 %}
{% for options in managed_resolvconf_options %}
options {{ options }}
{% endfor %}
{% endif %}
