# {{ ansible_managed }}

[INCLUDES]
before = paths-fedora.conf

[DEFAULT]
{% for key, value in managed_fail2ban.jail_config.items()|sort %}
{%   if value is sameas true %}
{{ key }}
{%   elif value is string or value is number %}
{{ key }} = {{ value }}
{%   else %}
{%     for v in value %}
{{ key }} = {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}

# JAILS
{% for key, value in managed_fail2ban.jail_services.items()|sort %}
{%   if value is sameas true %}
[{{ key }}]
{%   elif value is string or value is number %}
[{{ key }}]
{{ value }}
{%   else %}
{%     for v in value %}
[{{ key }}]
{{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
