[Unit]
Description=rClone Crypt for Google Drive HTTP
Documentation=http://rclone.org/docs
After=network-online.target plexcrypt.service

[Service]
Type=simple
User={{ media_rclone_service_user }}
Group={{ media_rclone_service_group }}
ExecStart=/usr/bin/rclone serve http gdrive-crypt: --config "/home/{{ media_rclone_service_user }}/.config/rclone/rclone.conf" --cache-db-path "/home/{{ media_rclone_service_user }}/.config/rclone/rclone-http.cache"  --addr {{ media_rclone_http_adress }} --user {{ media_rclone_http_user }} --pass {{ media_rclone_http_pass }} {{ media_rclone_http_params }}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
