{% if media_rclone_connections -%}
{% for (remote, options) in media_rclone_connections.items() %}
[{{ remote }}]
{% for (key, value) in options.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %}
{% endif %}
