# {{ ansible_managed }}

# Client configuration
{% for command, value in managed_chrony.client.items()|sort %}
{%   if value is sameas true %}
{{ command }}
{%   elif value is string or value is number %}
{{ command }} {{ value }}
{%   else %}
{%     for v in value %}
{{ command }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}

{% for command, value in managed_chrony.server.items()|sort %}
# Server configuration
{%   if value is sameas true %}
{{ command }}
{%   elif value is string or value is number %}
{{ command }} {{ value }}
{%   else %}
{%     for v in value %}
{{ command }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
