{
  "deletearchivefilesafterextractionaction" : "{{ media_j2_deletearchivefilesafterextractionaction }}",
  "deleteinfofilesafterextraction" : {{ media_j2_deleteinfofilesafterextraction }},
  "subpath" : "{{ media_j2_subpath }}",
  "deletearchivedownloadlinksafterextraction" : {{ media_jd2_deletearchivedownloadlinksafterextraction }},
  "enabled" : {{ media_j2_exctraction_enabled }}
}
