{
  "defaultdownloadfolder" : "{{ media_j2_downloaddir }}/{{ media_jd2_defaultdownloadfolder }}",
  "maxsimultanedownloads" : "{{ media_jd2_maxsimultanedownloads }}",
  "downloadspeedlimit" : "{{ media_jd2_downloadspeedlimit }}"
}
