{
  "defaultdownloadfolder" : "{{ media_j2_downloaddir }}/{{ media_j2_defaultdownloadfolder }}",
  "maxsimultanedownloads" : "{{ media_j2_maxsimultanedownloads }}",
  "downloadspeedlimit" : "{{ media_j2_downloadspeedlimit }}",
  "downloadspeedlimitrememberedenabled" : "{{ media_j2_downloadspeedlimitrememberedenabled }}"
}
