[Unit]
Description=Sonarr Daemon
After=network-online.target

[Service]
User={{ media_sonarr_service_user }}
Group={{ media_sonarr_service_group }}
Type=simple
ExecStart=/usr/bin/mono {{ media_sonarr_installdir }}/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
