<Config>
  <LogLevel>{{ media_sonarr_loglevel }}</LogLevel>
  <Port>{{ media_sonarr_port }}</Port>
  <UrlBase>{{ media_sonarr_basepath }}</UrlBase>
  <BindAddress>{{ media_sonarr_basepath }}</BindAddress>
  <SslPort>{{ media_sonarr_sslport }}</SslPort>
  <EnableSsl>{{ media_sonarr_enablessl }}</EnableSsl>
  <AuthenticationMethod>{{ media_sonarr_authmethod }}</AuthenticationMethod>
  <Branch>{{ media_sonarr_branch }}</Branch>
  <LaunchBrowser>{{ media_sonarr_launchbrowser }}</LaunchBrowser>
  <SslCertHash>{{ media_sonarr_sslcerthash }}</SslCertHash>
  <UpdateMechanism>{{ media_sonarr_updatemechanism }}</UpdateMechanism>
  <UpdateAutomatically>{{ media_sonarr_autoupdate }}</UpdateAutomatically>
</Config>
