[Unit]
Description=Sonarr Daemon
After=network-online.target plexcrypt.service

[Service]
User={{ bundle_mediaserver.config.user }}
Group={{ bundle_mediaserver.config.group }}
Type=idle
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5
restart=always

[Install]
WantedBy=multi-user.target
