[Unit]
Description=Tautulli - Stats for Plex Media Server usage
After=network-online.target

[Service]
User={{ media_tautulli_service_user }}
Group={{ media_tautulli_service_group }}
ExecStart={{ media_tautulli_installdir }}/Tautulli.py --config /home/{{ media_tautulli_service_user }}/.config/tautulli/config.ini --datadir {{ media_tautulli_installdir }} --quiet --daemon --nolaunch
GuessMainPID=no
Type=forking

[Install]
WantedBy=multi-user.target
