; {{ ansible_managed }}

include=/etc/php-fpm.d/*.conf

[global]
{% for key, value in web_php_fpm_config_global.items()|sort %}
{%   if value is sameas true %}
{{ key }}
{%   elif value is string or value is number %}
{{ key }} = {{ value }}
{%   else %}
{%     for v in value %}
{{ key }} = {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
