# {{ ansible_managed }}

{% for command, value in managed_chrony_client.items()|sort %}
{%   if value is sameas true %}
{{ command }}
{%   elif value is string or value is number %}
{{ command }} {{ value }}
{%   else %}
{%     for v in value %}
{{ command }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
{% for command, value in managed_chrony_server.items()|sort %}
{%   if value is sameas true %}
{{ command }}
{%   elif value is string or value is number %}
{{ command }} {{ value }}
{%   else %}
{%     for v in value %}
{{ command }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
