# {{ ansible_managed }}

{% if managed_resolvconf is defined %}
{% if managed_resolvconf.search | length > 0 %}
search {{ managed_resolvconf.search }}
{% endif %}
{% if managed_resolvconf.domain != "" %}
domain {{ managed_resolvconf.domain }}
{% endif %}
{% if managed_resolvconf.nameservers | length > 0 %}
{% for ns in managed_resolvconf.nameservers %}
nameserver {{ ns }}
{% endfor %}
{% endif %}
{% if managed_resolvconf.sortlist | length > 0 %}
{% for sl in managed_resolvconf.sortlist %}
sortlist {{ sl }}
{% endfor %}
{% endif %}
{% if managed_resolvconf.options | length > 0 %}
{% for options in managed_resolvconf.options %}
options {{ options }}
{% endfor %}
{% endif %}
{% endif %}
