# {{ ansible_managed }}

[Definition]
{% for command, value in managed_fail2ban.config.items()|sort %}
{%   if value is sameas true %}
{{ command }}
{%   elif value is string or value is number %}
{{ command }} = {{ value }}
{%   else %}
{%     for v in value %}
{{ command }} = {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
