{% if bundle_mediaserver.rclone_connections -%}
{% for (remote, options) in bundle_mediaserver.rclone_connections.items() %}
[{{ remote }}]
{% for (key, value) in options.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %}
{% endif %}
