# {{ ansible_managed }}

{% for key, value in bundle_mediaserver.caddy_config.items()|sort %}
{%   if value is sameas true %}
{{ key }} {
  {{ value}}
}
{%   elif value is string or value is number %}
{{ key }} {
  {{ value }}
}
{%   else %}
{%     for v in value %}
{{ key }} {
  {{ v }}
}
{%     endfor %}
{%   endif %}
{% endfor %}
