[Unit]
Description=rClone Crypt Google
Documentation=http://rclone.org/docs
After=network-online.target plexdrive.service
Requires=plexdrive.service
PartOf=plexdrive.service

[Service]
Type=simple
User={{ bundle_mediaserver.config.user }}
Group={{ bundle_mediaserver.config.group }}
ExecStart=/usr/local/bin/rclone --config "/home/{{ bundle_mediaserver.config.user }}/.config/rclone/rclone.conf" mount --buffer-size {{ bundle_mediaserver.config.rclone_buffer_size }} --allow-other --acd-templink-threshold 0 --allow-non-empty --timeout {{ bundle_mediaserver.config.rclone_timeout }} --contimeout {{ bundle_mediaserver.config.rclone_contimeout }} --syslog --stats {{ bundle_mediaserver.config.rclone_stats }} gdrive-crypt: /mnt/{{ bundle_mediaserver.config.mountfolder }}/{{ bundle_mediaserver.config.rclone_cryptfolder }}
ExecStop=/usr/bin/sudo /bin/fusermount -u -z /mnt/{{ bundle_mediaserver.config.mountfolder }}/{{ bundle_mediaserver.config.rclone_cryptfolder }}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
