{
  "closedwithrunningdownloads" : false,
  "maxsimultanedownloadsperhost" : 1,
  "delaywritemode" : "AUTO",
  "maxdownloadsperhostenabled" : false,
  "dupemanagerenabled" : true,
  "savelinkgrabberlistenabled" : true,
  "myjdownloadercaptchasolverenabled" : false,
  "forcemirrordetectioncaseinsensitive" : true,
  "keepxoldlists" : 5,
  "autostartdownloadoption" : "ONLY_IF_EXIT_WITH_RUNNING_DOWNLOADS",
  "useavailableaccounts" : true,
  "maxsimultanedownloads" : "{{ app_jdownloader2.maxsimultanedownloads }}",
  "defaultdownloadfolder" : "{{ app_jdownloader2.dlpath }}",
  "autoaddlinksafterlinkcheck" : true,
  "downloadspeedlimit" : "{{ app_jdownloader2.spdlimit }}",
  "createfoldertrigger" : "ON_DOWNLOAD_START",
  "downloadspeedlimitrememberedenabled" : true,
  "downloadspeedlimitenabled" : false
}
