[Unit]
Description=JDownloader Service
After=syslog.target network-online.target

[Service]
User={{ app_jdownloader2.group }}
Group={{ app_jdownloader2.user }}
Environment={{ app_jdownloader2.folder }}
Type=simple
TimeoutStopSec=20
ExecStart=/usr/bin/java -Djava.awt.headless=true -jar {{ app_jdownloader2.folder }}/JDownloader.jar
KillMode=process
Restart=always
RemainAfterExit = yes

[Install]
WantedBy=multi-user.target
